body {
    height: 100%;
    background-color: #843534;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 4px 1px 3px rgba(0,0,0,.5);
}

.grid {

    display: grid;

    grid-columns: auto 100px 1fr 2fr;
    grid-rows: 50px 5em auto;

}

.even {
    color: blue;
    background-color: #eb6437 ;
    border: #5e5e5e 4px;
}

.odd {
    color: green;
    background-color: #c228eb;
    border: #5e5e5e 4px;
}
.rows1 {
    border: #5e5e5e 10px;
    background-color: #7f7f7f  ;

}
.rows0 {
    border: #5e5e5e 10px;
    background-color: #858585;

}

.button {
     /*background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }


